@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&family=Raleway&family=Roboto+Mono:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* heading, paragraph, logo */
h2 {
  font-family: Prata, sans-serif;
  color: #F7F1F0;
  padding: 30px;
  text-align: center;
  background: #27160d;
  font-size: 30px;
}
p {
  color: #27160d;
  text-align: center;
  padding-left: 3px;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
/* naviagation */
.topnav {
  overflow: hidden;
  background-color: #27160d;
}
.topnav a {
  float: left;
  display: block;
  color: #ece1d3;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
}
.topnav a:hover {
  background-color: #ece1d3;
  color: #27160d;
}
.topnav a.active {
  background-color: #ece1d3;
  color: #27160d;
}
.topnav .icon {
  display: none;
}
ul {
  list-style: none;
  display: inline-flex;
  margin: 0 auto;
}
ul li {
  padding: 1rem 3rem;
}
/* contact us */
body {font-family: 'Open Sans', sans-serif;}
* {box-sizing: border-box;}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #27160d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #ece1d3;
}
.container {
  border-radius: 5px;
  background-color: #ece1d3;
  padding: 20px;
}
/* hero-outer / hero-image / h2 - paragraph */
#hero-image {
  background-image: url('../images/821-yacht-motor-yacht-go-main-deck-portside-jpg-1600x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro-text {
  background-color: #ece1d3;
  padding: 1rem 2rem;
}
.hero-img {
  width:100%;
  max-height: 70vh;
}
/* gallery page */
.gallery_column {
  margin-left: 10px;
  padding: 20px;
}
.gallery-image {
  width: 30%;
}
/*footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
.inners {
  padding-left: 1rem;
}
.social-footer {
  padding: 1rem;
  background: #27160d;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-footer-icons {
  margin: 0 auto;
}
.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}
.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}
.social-footer .social-footer-icons .fa:hover {
  color: #B74803;
  transition: color 0.3s ease-in;
}
/* media query */
@media screen and (max-width: 450px) {
  .topnav a {
    font-size: .7rem;
  }
}
@media screen and (max-width: 365px) {
  .topnav a {
    font-size: .6rem;
  }
}
@media screen and (max-width: 320px) {
  .topnav a {
    font-size: .45rem;
  }
}