@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Nanum Myeongjo', sans-serif;
    font-weight: 300;
    color: #1a3459;
}

/* headings and logo */

h1  {
    font-family: 'Nanum Myeongjo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1a3459;
    text-decoration: none;
    font-size: 90px;
    font-weight: bold;
    margin-left: 10px;
}

h3 {
    font-family: Abel, sans-serif;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #1a3459;
    position: relative;
    right: -380px;
    top: -70px;
    font-size: 65px;
    font-weight: lighter;
}

/* h3::before {
    display: inline-block;
    content: "";
    border-top: .2rem solid #c00108;
    width: 15rem;
    margin:  1rem;
    transform: translate(-25rem);
} */


/* homepage-image */


#homepage-image {
    background: url('../images/crystal-rock-lasvit-pendant-lamp.jpg') no-repeat;
    float: right;
    position: absolute;
    top: 0;
    right: -55%;
    height: 8000px;
    width: 100%;


    /* animates homepage-image on loading page */
    animation-name: homepage-image;
    animation-duration: 8s;
    animation-fill-mode: left;
}

/* creates level of zoom for homepage-image */

@keyframes homepage-image {
        from {right: 0px;}
        to {left: relative;}

}

/* navigation elements */

/* .box {
    height: 100px;
    width: 150px;
    background: #1a3459;
    display: inline-block;
}

.container {
    padding: 20px 0;
    text-align: inherit;
} */

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #1a3459;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #d0bf86;
    color: #1a3459;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #d0bf86;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
  }

  .topnav-centered a:hover {
    color: #1a3459;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
